ul.lista-registros {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    list-style: none;
    margin-bottom: 30px;
    justify-content: space-evenly;
    align-content: space-evenly;
    row-gap: 20px;
}

ul.lista-registros li {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    min-width: 200px;
    width: 200px;
    padding: 2px 4px 10px 4px;
    border-color: #ededed;
    border-radius: 7px;
    transition: .7s;

}
ul.lista-registros li:hover {
    border: 1px solid #dadada;
    box-shadow: 0px 0px 10px;
}

ul.lista-registros li header {
    cursor: pointer;
    height: 260px;
    width: auto;
    background-size: cover;
    border-radius: 4px;
    box-shadow: 0 0 5px;
    background: no-repeat center;
}

ul.lista-registros li strong {
    align-self: center;
    margin-top: 10px;
    font-size: 24px;
    color: #444;
}

ul.lista-registros li span {
    align-self: center;
    font-size: 15px;
    color: #999;
}

.create-box {
    background: #0B4C82;
    margin-bottom: 20px;
    margin-left: 10px;
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 30px;
    float: left;
    cursor: pointer;
}

.create-btn {
    color: #dadada;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #0B4C82;
    display: flex;
    transition: .4s ease-out;    
    background: #0B4C82;
}

.create-box:hover>.create-btn {
    color: #fff;
}

.create-txt {
    float: left;
    align-self: center;
    justify-self: center;
    border: none;
    background: none;
    outline: none;
}

.search-box {
    background: #0B4C82;
    margin-bottom: 20px;
    margin-right: 40px;
    height: 60px;
    padding: 10px;
    border-radius: 30px;
    float: right;
    cursor: pointer;
    width: 60px;
    transition: 0.4s;
}

.search-box:hover {
    width: 280px;
}

.search-box:hover>.search-txt {
    width: 200px;
    padding: 0 6px;
    color: #fff;
}

.search-btn {
    color: #dadada;
    float: right;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #0B4C82;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .6s ease-out;
}

.search-box:hover>.search-btn {
    color: #0B4C82;
    background: #ffff;
    animation: lupa 1s alternate;
}

.search-txt {
    border: none;
    background: none;
    outline: none;
    float: left;
    color: #fff;
    font-size: 15px;
    transition: 0.4s;
    line-height: 40px;
    padding: 0;
    width: 0px;
    transition: 0.4s;
}

.search-txt::placeholder {
    color: #fff;
}

@keyframes lupa {
    from {
        transform: rotateZ(360deg);
    }
    to {
        transform: rotateZ(0deg);
    }
}