.modal-content {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 50px;
    z-index: 1000;
    width: 90vw;
    height: 90vh;
    border-radius: 6px;
}

.modal-overlay {
    z-index: 999;
    position: fixed !important;
    width: 100% !important;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6) !important;
}

.modal-close {
    color: #777;
    cursor: pointer;
    position: absolute;
    right: 20px;
    top: 20px;
    padding: 0;
    margin: 0;
    border-radius: 6px;
    transition: 0.5s;
}

.modal-close:hover {
    background-color: #b83243;
    color: #fff;
}