footer p a {
    text-decoration: none;
    color: #fff;
  }
  
  footer p {
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    font-family: 'Roboto';
    color: #fff;
    opacity: 70%;
    cursor: default;
  }
  
  footer p.imageCredits {
    font-size: 8px;
    align-items: right;
    line-height: 50px;
    position: absolute;
    left: 0;
    transition: .7s;
  }
  footer p.imageCredits:hover {
    font-size: 1em;
  }