:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

ul.carteira {
    display: grid;
    grid-template-columns: repeat(auto-fill, 350px);
    grid-gap: 10px;
    margin-bottom: 20px;
    width: 100%;
    list-style: none;
}

ul.carteira li {
    display: flex;
    flex-direction: column;
}

ul.carteira li header {
    margin-left: 2%;
    border-radius: 4px;
    width: 300px;
    height: 400px;
    background-size: 300px 400px;
    background: center no-repeat;
    box-shadow: 0 4px 10px;
}

ul.carteira li strong {
    margin-top: 3px;
    font-size: 3em;
    color: #444;
}

ul.carteira li span {
    font-size: 12px;
    color: #555;
    margin-top: 3px;
}

.filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: .7;
}

table {
    z-index: 2;
    left: 50%;
    top: 50%;
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px 12px 0 0;
    overflow: hidden;
    box-shadow: 0 2px 12px rgba(32, 32, 32, .3);
    width: 100%;
    background: #fafafa;
    text-align: left;
}

table.cardInfos {
    border-radius: 0;
}

th, td {
    padding: 5px 10px;
}

tr {
    background: #fff;
}

td {
    cursor: copy;
}

tr:hover {
    filter: invert(90%);
}

thead tr:first-child {
    filter: none;
}

th {
    background: #266396;
    color: #fafafa;
    text-transform: uppercase;
}

tr:nth-child(odd) {
    background-color: #eeeeee;
}

td:nth-child(odd) {
    font-weight: 600;
}

nav.DropDownMenu {
    display: flex;
    align-items: center;
    color: #444;
    margin-top: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    align-content: center;
    border: 50px;
    border-radius: 2px;
    height: 42px;
    padding: 0 20px;
    font-weight: bold;
    background: #fff;
    color: #444;
}

nav.DropDownMenu:hover {
    background: #eeeeee;
}

.btnPrinter {
    border: 0;
    border-radius: 2px;
    width: 100%;
    height: 42px;
    padding: 0 20px;
    font-size: 16px;
    font-weight: bold;
    background: #fff;
    color: #444;
    cursor: pointer;
    transition: .4s;
    box-shadow: 0px 1px 2px;
}

.btnPrinter:hover {
    background: #266396;
    color: #fff;
}