.img-container {
    width: 354px;
    height: 472px;
    float: left;
    z-index: 1000;
}

.img-preview {
    width: 150px;
    height: 200px;
    float: left;
    margin-left: 10px;
}

.cropper-footer {
    position: absolute;
    bottom: 10px;
    width: 90%;
    z-index: 1000;
}