.NavigationButtons {
  display: flex;
  justify-content: space-between;
}

.ArrowLeft {
  color: #777;
  padding: 8px 14px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  transition: .5s;
  cursor: pointer;
  line-height: 20%;
}

.ArrowLeft:hover {
  color: #444;
  border: 1px solid #ddd;
  border-radius: 4px;
  line-height: 30%;
}

.ArrowLeft:hover>.ArrowLeftBtn {
  animation: aponta-esquerda .7s ease-in-out infinite alternate;
}

.LogOut {
  color: #777;
  padding: 8px 14px;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center;
  transition: .5s;
  cursor: pointer;
}

.LogOut:hover {
  color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #b83243;
}

.LogOut:hover>.LogOutBtn {
  animation: aponta-direita 1.5s ease-in-out infinite alternate;
}

@keyframes aponta-esquerda {
  from {
    transform: translateX(-33%);
  }
  to {
    transform: translateX(33%);
  }
}

@keyframes aponta-direita {
  0% {
    transform: translateX(-33%);
    transform: rotateZ(0deg);
  }
  25% {
    transform: translateX(33%);
  }
  50% {
    transform: translateX(-33%);
    transform: rotateZ(0deg);
  }
  75% {
    transform: translateX(33%);
  }
  100% {
    transform: translateX(-33%);
  }
}