/* #MainHeader {
    margin: 0;
    padding: 0;
    
    
    position: absolute;
    right: 50%;
    left: 50%;
    top: 62%;  
}
*/
#MainHeader #MHContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    grid-area: header;
    justify-items: center;
} 

img#logo {
    width: auto;
    height: 150px;
    
}

h1.title{
    color: #fff;
    font-weight: bold;
    font-size: xx-large;
    opacity: 80%;
  }
  
p.subtitle{
    color: #fff;  
    opacity: 80%;
}